<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo Reminder</title>
  </head>

  <body>
    <p>Hello,</p>
    <p>
      This is gentle reminder from Todo Application related to task
      titled<strong><%= title %></strong>.
    </p>
  </body>
</html>
